<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>文件下载</title>
</head>
<body class="container">
    <h2 th:if="${fileList.size()==0}">您似乎没有准备提供下载的文件！</h2>
    <table class="table table-striped table-hover table-responsive"  th:if="${fileList.size()>0}">
        <thead>
        <tr>
            <th>文件名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="List:${fileList}">
            <td th:text="${List}">暂无</td>
            <td><a th:href="@{/download(filename = fileList)}">下载文件</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>