<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传文件日志列表</title>
</head>
<body>
<table>
    <tr>
        <th>文件名称</th>
        <th data-property="1">类型</th>
        <th data-property="1">上传时间</th>
        <th data-property="1">上传IP地址</th>
    </tr>
    <tr th:each="fileinfo:${list}">
        <td th:text="${fileinfo.filename}">暂无</td>
        <td th:text="${fileinfo.type}">暂无</td>
        <td th:text="${fileinfo.uploadtime}">暂无</td>
        <td th:text="${fileinfo.uploadip}">暂无</td>
    </tr>
</table>
</body>
</html>